.capabilities {

  @include tablet {
    padding-left: 0;
    padding-right: 0;
  }

  &__swiper {
    overflow: initial;

    &-wrapper {
      box-sizing: border-box;
      @include tablet_sm {
        box-sizing: content-box;
      }
    }

    @include tablet_sm {
      overflow: hidden;
    }
  }

  &__wrapper {
    max-width: 1050px;
    margin: 0 auto;

    & .section__title {
      @include mobile_md {
        max-width: 285px;
        margin: 20px auto;
      }
    }
  }

  &__swiper-wrapper {
    align-items: stretch;
  }

  &__swiper-controls {
    display: none;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    margin-top: 40px;
    @include tablet_sm {
      display: flex;
    }
  }

  &__swiper-pagination {
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: Avenir, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;
  }

  &__swiper-button-next {
    width: 48px;
    height: 48px;
    box-shadow: 0px 80px 90px rgba(17, 26, 43, 0.08), 0px 40px 30px rgba(0, 14, 26, 0.03), 0px 5px 7px rgba(0, 14, 26, 0.02);
    border-radius: 999px;
    cursor: pointer;
    background: url("../images/swiper-next.svg") center center no-repeat, #fff;
  }

  &__swiper-button-prev {
    width: 48px;
    height: 48px;
    box-shadow: 0px 80px 90px rgba(17, 26, 43, 0.08), 0px 40px 30px rgba(0, 14, 26, 0.03), 0px 5px 7px rgba(0, 14, 26, 0.02);
    border-radius: 999px;
    cursor: pointer;
    background: url("../images/swiper-prev.svg") no-repeat center center, #fff;
  }
}