.card {
  padding: 48px 40px 40px;
  background: #FFFFFF;
  box-shadow: 0px 12px 40px rgba(17, 26, 43, 0.02), 0px 0.5px 2px rgba(17, 26, 43, 0.08);
  border-radius: 40px;
  position: relative;
  max-width: 328px;
  background-size: cover !important;
  @include desktop {
    padding: 24px;
    max-width: 300px;
  }
  @include tablet {
    max-width: 100%;
    padding: 40px 40px 40px;
  }
  @include mobile {
    padding: 24px 32px 32px 24px;
  }
}


.card--100 {
  max-width: 1050px;
  padding: 0;
  margin-top: 0;
}

.card--100 .card__description {
  max-width: 550px;
}
.card.card--100:nth-child(even) .card__wrapper {
  flex-direction: row-reverse;
  @include tablet {
    flex-direction: column-reverse;
  }
}



.card.card--image {
  padding: 40px;
  background-color: #242D3B;
  @include desktop {
    padding: 24px;
    max-width: 290px;
  }
  @include tablet {
    width: 100%;
    max-width: 100%;
  }
  @include mobile {
    & .card__title {
      max-width: 100%;
      margin-bottom: 12px;
    }
    & .card__description {
      padding-left: 0;
    }
  }
}

.card.card--50 {
  max-width: 508px;
  @include desktop {
    max-width: 455px;
  }
  @include tablet {
    max-width: 100%;
    width: 100%;
  }
}

.card.card--transparent {
  box-shadow: none;
  background: transparent;
  padding: 0 12px;
  margin-top: 0;

  & .card__title {
    font-size: 17px;
    line-height: 24px;
  }
}

.card__title {
  font-family: Avenir, sans-serif;
  font-weight: 800;
  font-size: 23px;
  line-height: 32px;
  margin-bottom: 16px;
  color: #384350;
  @include mobile {
    font-size: 17px;
    line-height: 24px;
    max-width: 160px;
    margin-bottom: 12px;
  }

  &-wrapper {
    @include mobile {
      display: flex;
      align-items: center;
      column-gap: 20px;
      margin-bottom: 16px;
    }
  }
}

.card__title.card__title--white {
  color: #FFF;
}

.card__title.card__title--gradient {
  background: linear-gradient(133.76deg, #3619AB -7.9%, #2272BB 42.86%, #00814B 96.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.card__icon-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -44px;
  left: 32px;
  background: #FFFFFF;
  box-shadow: 0px 79px 92px rgba(0, 14, 26, 0.08), 0px 37.0809px 27.7353px rgba(0, 14, 26, 0.03), 0px 15.4015px 11.5198px rgba(0, 14, 26, 0.01), 0px 5.57042px 4.1665px rgba(0, 14, 26, 0.031357);
  border-radius: 16px;
  width: 64px;
  height: 64px;
  @include mobile {
    position: static;
  }
}

.card__icon-wrapper.card__icon-wrapper--centered {
  left: 50%;
  transform: translateX(-50%);
  @include tablet_sm {
    position: static;
    transform: none;
  }
}

.card__icon-wrapper.card__icon-wrapper--transparent {
  background: linear-gradient(128.47deg, rgba(124, 158, 244, 0.14) 16.63%, rgba(255, 255, 255, 0) 113.07%);
  box-shadow: 0px 80px 90px rgba(17, 26, 43, 0.08), 0px 40px 30px rgba(0, 14, 26, 0.03), 0px 5px 7px rgba(0, 14, 26, 0.02);
  left: 12px;
  top: -88px;
}

.card__description {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #384350;

  &  strong {
    background: linear-gradient(133.76deg, #3619AB -7.9%, #2272BB 42.86%, #00814B 96.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
  }

  @include mobile {
    padding-left: 8px;
  }
}

.card__description.card__description--white {
  color: #D5DCE2;
}

.card__wrapper {
  display: flex;
  align-items: center;
  height: 200px;
  @include tablet {
    flex-direction: column-reverse;
    height: auto;
  }

}

.card__content {
  padding: 40px;
  @include tablet_md {
    padding: 32px;
    & .card__description {
      padding-left: 0;
    }
  }

}

.card__image-wrapper {
  max-width: 418px;
  height: 202px;
  width: 100%;
  @include tablet {
    max-width: 100%;
  }

  &--big {
    max-width: 598px;
    @include tablet {
      max-width: 100%;
    }
  }

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    @include tablet {
      border-bottom-right-radius: 0;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
    }
  }
}

.card__wrapper:nth-child(even) {
  flex-direction: row-reverse;
  @include tablet {
    flex-direction: column-reverse;

  }
}

.card.card--100:nth-child(even) .card__wrapper .card__image-wrapper > img {
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  @include tablet {
    border-top-right-radius: 40px;
    border-bottom-left-radius: 0;
  }
}

.cards__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1050px;
  flex-wrap: wrap;
}

.cards__wrapper.cards__wrapper--mix {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 24px 32px;
  place-items: center;
  grid-template-areas:
    "first first second second third third"
    "fourth fourth fourth five five five"
    "six six seven seven eight eight";
  margin-top: 88px;
  @include tablet {
    padding: 0 24px;
  }

  @include tablet_md {
    grid-template-areas:
    "first  second "
    "third fourth"
    "five six"
    "seven eight";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: stretch;
    margin-top: 32px;
  }
  @include tablet_sm {
    padding: 0;
    display: flex;
    gap: 0;
    flex-wrap: nowrap;
  }

  & .card {
    box-shadow: 0px 80px 100px rgba(17, 26, 43, 0.03), 0px 40px 30px rgba(17, 26, 43, 0.02), 0px 5px 2px rgba(17, 26, 43, 0.01);
    @include tablet_sm {
      width: 328px;
      height: 228px;
      flex-shrink: 0;
    }
    @include mobile {
      min-width: 242px;
    }
  }

  & .card.first {
    grid-area: first;
  }

  & .card.second {
    grid-area: second;
  }

  & .card.third {
    grid-area: third;
  }

  & .card.fourth {
    grid-area: fourth;
  }

  & .card.five {
    grid-area: five;
  }

  & .card.six {
    grid-area: six;
  }

  & .card.seven {
    grid-area: seven;
  }

  & .card.eight {
    grid-area: eight;
  }
}

.cards__wrapper.cards__wrapper--100 {
  row-gap: 48px;
  margin-top: 88px;
  @include tablet_sm {
    row-gap: 24px;
  }
}

.section__description + .cards__wrapper .card {
  margin-top: 80px;
}

.section__description + .cards__wrapper .card.card--icon {
  margin-top: 130px;
  @include desktop {
    margin-top: 88px;
  }
  @include mobile {
    margin-top: 24px;
  }
}

.section__description + .cards__wrapper .card.card--transparent {
  margin-top: 176px;
  width: calc(100% / 3);
  @include tablet_md {
    margin-top: 50px;
    width: 50%;

    & .card__icon-wrapper {
      position: static;
    }
    & .card__title-wrapper {
      display: flex;
      align-items: center;
      column-gap: 20px;
      margin-bottom: 16px;

      & .card__title {
        margin-bottom: 0;
        font-size: 17px;
        line-height: 24px;
      }

      & .card__description {
        font-size: 15px;
        line-height: 24px;
      }
    }
  }
  @include tablet_sm {
    width: 100%;
    padding: 0;
  }
}

.cards__wrapper.cards__wrapper--100 .card--100 {
  margin-top: 0;
}
