.deployment {
  background-color: #4363B0;
  padding: 0 0 20px 0;

  &__container {
    background: #F8F8FA url("../images/technologies/deployment.png") 100% 50% no-repeat;
    background-size: contain !important;
    padding: 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  &__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 130px 0;
  }

  &__title.section__title {
    margin: 0 0 16px 0;
    text-align: left;
    max-width: 583px;
    font-size: 48px;
    line-height: 64px;
  }

  &__title-wrapper {
    max-width: 628px;
    margin-bottom: 88px;
  }

  &__description {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #384350;
  }

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

  }

  &__item {
    padding: 56px 64px;
    background: linear-gradient(152.16deg, #FFFFFF 8.22%, #F8F9FD 109.54%);
    border: 0.5px solid #F8F8FA;
    //max-width: 958px;
    box-shadow: 0px 80px 100px rgba(17, 26, 43, 0.03), 0px 40px 30px rgba(17, 26, 43, 0.02), 0px 5px 2px rgba(17, 26, 43, 0.01);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;

    &-content {
      max-width: 395px;
    }

    &:first-child {
      background: url("../images/specs/security_item_1.jpg") center/cover no-repeat;
    }

    &:nth-child(2) {
      background: url("../images/specs/security_item_2.jpg") center/cover no-repeat;
    }

    &-list {
      list-style: none;
      max-width: 397px;

      &-item {
        display: flex;
        align-items: center;
        column-gap: 16px;

        &:not(:last-child ) {
          margin-bottom: 12px;
        }

        &-text {
          font-family: 'Avenir', sans-serif;
          font-style: normal;
          font-weight: 900;
          font-size: 16px;
          line-height: 24px;
          background: linear-gradient(133.76deg, #3619AB -7.9%, #2272BB 42.86%, #00814B 96.8%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }

    &-title {
      font-family: 'Avenir', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 33px;
      line-height: 46px;
      color: #111A2B;
      margin-bottom: 24px;

    }

    & p {
      font-family: 'Avenir', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: #242D3B;
      max-width: 782px;
    }

    & p:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}