.input {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #111A2B;
  padding: 12px 16px 12px 24px;
  background: #FFFFFF;
  border: double 1px #AFB5BA;
  box-shadow: 0px 12px 40px rgba(17, 26, 43, 0.02), 0px 0.5px 2px rgba(17, 26, 43, 0.08);
  border-radius: 16px;
  transition: all .3s linear;

  &::placeholder {
    font-family: Avenir, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #5F6972;
  }

  &:hover {
    border: double 1px #5F6972;
    box-shadow: 0px 12px 40px rgba(17, 26, 43, 0.02), 0px 0.5px 2px rgba(17, 26, 43, 0.08);
  }

  &:focus-visible {
    outline: none;
    border: double 1px transparent;
    border-radius: 16px;
    background-image: linear-gradient(white, white), linear-gradient(135deg, #9124B8, #2782D3, #1BDAC3);;
    background-origin: border-box;
    background-clip: padding-box, border-box;


  }
  &.error {
    border: 1px double #E32D14;
    background-color: #FFFAF9;
  }
}


.input.input--textarea {
  resize: none;
  height: 120px;
  width: 100%;
  @include tablet_sm {
    height: 72px;
  }
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  &__inner {
    display: flex;
    justify-content: space-between;

  }

  &__text {
    font-family: Avenir, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    color: #384350;
    margin-left: 8px;
    margin-bottom: 8px;

    &--additional {
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      text-align: right;
      color: #5F6972;
      margin-right: 8px;
    }

    &--required {
      position: relative;

      &:after {
        content: '*';
        background: linear-gradient(133.76deg, #3619AB -7.9%, #2272BB 42.86%, #00814B 96.8%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
  }
}

.check-label {
  margin-bottom: 32px;
  display: none;
}

.input--checkbox {
  appearance: none;

  &:checked + span:after {
    content: '';
    position: absolute;
    background: url("../images/checked-checkbox.svg") 50% 50% no-repeat;
    width: 32px;
    height: 32px;
    left: -48px;
    top: 50%;
    transform: translateY(-50%);
    //z-index: 2;
  }

  &:checked + span:before {
    display: none;
  }

  & + span {
    font-family: Avenir, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #111A2B;
    position: relative;
    margin-left: 48px;

    &:before {
      content: '';
      position: absolute;
      width: 32px;
      height: 32px;
      background: transparent;
      border: 1.5px solid #AFB5BA;
      box-shadow: 0px 12px 40px rgba(17, 26, 43, 0.02), 0px 0.5px 2px rgba(17, 26, 43, 0.08);
      border-radius: 9px;
      top: 50%;
      transform: translateY(-50%);
      left: -48px;
      box-sizing: border-box;
    }

  }
}

.input--file {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.desktop {
  display: block;
  @include tablet {
    display: none;
  }
}

.mobile {
  display: none;
  @include tablet {
    display: block;
  }
}

.download__wrapper {
  padding: 12px 32px 12px 60px;
  position: relative;
  cursor: pointer;
  background: #F8F8FA;
  border-radius: 999px;

  &:after {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    background: url("../images/Attach_file.svg") center center no-repeat;
    left: 24px;
  }

  &.desktop {
    display: flex;
    @include tablet {
      display: none;
    }
  }

  &.mobile {
    display: none;
    @include tablet {
      display: flex;
    }
  }
}

.download__text {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  background: linear-gradient(133.76deg, #3619AB -7.9%, #2272BB 42.86%, #00814B 96.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}


.download__wrapper.mobile {
  @include tablet {
    max-width: 280px;
    display: flex;
  }
  @include mobile_md {
    max-width: 100%;
    width: 100%;
  }
}

.btn__inner {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;

  &.mobile {
    @include tablet {
      margin-bottom: 48px;
    }
  }
}

.download__reset-btn {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  background: linear-gradient(133.76deg, #3619AB -7.9%, #2272BB 42.86%, #00814B 96.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  flex-shrink: 0;
  cursor: pointer;
  margin-left: 10px;
  display: none;

  &.active {
    display: block;
  }
}
