.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  &__wrapper {
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @include tablet {
      padding: 20px 24px;
      & .btn.btn--primary {
        display: none;
      }
    }


  }

  &__burger {
    display: none;
    @include tablet {
      padding: 8px 4px;
      justify-content: space-between;
      cursor: pointer;
      display: block;
      &-item {
        position: relative;
        display: block;
        width: 24px;
        height: 2px;
        border-radius: 999px;
        background: #222;
        transition: all .2s ease-in-out;

        &:before, &:after {
          position: absolute;
          background: #222;
          content: '';
          width: 24px;
          height: 2px;
          border-radius: 999px;
          transition: all .2s ease-in-out;
        }

        &:before {
          top: -8px;
        }
        &:after {
          top: 8px;
        }
      }
    }
    &.active {
      & .header__burger-item {
        background: transparent;
        &:before {
          transform: rotate(45deg) translate(5px, 6px);
        }

        &:after {
          transform: rotate(-45deg) translate(5px, -6px);
        }
      }
    }

    &-menu {
      background: url("../images/bg/header-mobile-menu.jpg") center center/cover no-repeat;
      position: absolute;
      left: -9999px;
      top: 62px;
      padding: 24px;
      width: 100%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100vh - 60px) ;
      transition: left .5s linear;
      &.active {
        left: calc(100vw - 400px);
        z-index: 2;
        @include mobile_md {
          left: 0;
        }
      }
      & a.btn.btn--primary {
        display: block;
        max-width: 360px;
        text-align: center;
        margin-top: auto;
      }
    }

    &-list {
      list-style: none;
      max-width: 360px;

      &-link {

      }

      &-item:not(:last-child) {
        margin-bottom: 32px;
      }

      &-link {
        text-decoration: none;
        font-family: Avenir, sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #242D3B;
        position: relative;
        width: 100%;
        display: flex;
        margin-left: 0;
        margin-right: auto;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          width: 24px;
          height: 24px;
          background: url("../images/arrow-right.svg") center center no-repeat;
        }
      }
    }
  }

  &__nav {
    @include tablet {
      display: none;
    }
  }

  &__list {
    display: flex;
    list-style: none;

    &-item {
      padding: 16px 20px;
      transition: all .3s linear;
      @include desktop {
        padding: 16px 8px;
      }


      &:hover {
        background-color: #F8F8FA;
      }

    }

    &-link {

      text-decoration: none;
      color: #5F6972;
      font-family: Avenir, sans-serif;
      font-weight: 900;
      font-size: 14px;
      line-height: 24px;
      position: relative;
      transition: all .3s linear;
      padding-bottom: 19px;

      &:hover {
        transition: all .3s linear;
        background: linear-gradient(133.76deg, #3619AB -7.9%, #2272BB 42.86%, #00814B 96.8%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        width: calc(100% + 40px);
        height: 1px;
        background-color: transparent;
        bottom: 0;
        left: -20px;
        transition: all .3s linear;
        @include desktop {
          width: 100%;
          left: 0;
        }
      }

      &:hover:after {
        transition: all .3s linear;
        background: linear-gradient(133.76deg, #3619AB -7.9%, #2272BB 42.86%, #00814B 96.8%);
      }
    }
  }
}