.infrastructure {
  background: url("../images/technologies/infrastructure.jpg") bottom/cover no-repeat;
  @include desktop_xl {
    padding: 130px 24px;
  }
  @include tablet {
    padding: 50px 24px;
  }
  @include tablet_md {
    padding: 50px 16px;
  }
  &__wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }
  &__title-wrapper {
    display: flex;
    max-width: 958px;
    justify-content: space-between;
    margin-bottom: 88px;
    @include tablet {
      flex-direction: column;
      row-gap: 24px;
      margin-bottom: 50px;
    }
  }
  &__title.section__title {
    margin: 0;
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: #111A2B;
    text-align: left;
    max-width: 408px;
    @include tablet_sm {
      font-size: 23px;
      line-height: 32px;
    }
  }
  &__description {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #242D3B;
    max-width: 518px;
    @include tablet_sm {
      font-size: 15px;
      line-height: 24px;
      max-width: 100%;
    }
  }
  &__items {
    display: flex;
    column-gap: 32px;
    @include tablet_sm {
      flex-direction: column;
      align-items: center;
      row-gap: 48px;
    }
  }
  &__items-row {
    max-width: 298px;
    width: 100%;
    @include mobile_md {
      max-width: 100%;
    }
  }
  &__item {
    background: #FFFFFF;
    border: 3px solid #4363B0;
    border-radius: 32px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    column-gap: 12px;
    box-shadow: -8px -8px 0px 0px rgb(67, 99, 176);
    @include tablet_sm {
      box-shadow: -4px -4px 0px 0px rgb(67, 99, 176);
    }
    &:not(:last-child) {
      margin-bottom: 16px;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        display: block;
        height: 16px;
        width: 0;
        border-left: 3px dashed #4363B0;
        left: 50%;
        bottom: -16px;

      }
    }
    &-text {
      font-family: 'Avenir', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #4363B0;
    }
  }
}