.multilingual {
  background: #1C5393 url("../images/specs/multilingual_bg.jpg") center no-repeat;
  padding: 130px 0;
  @include desktop_xm {
    padding: 130px 24px;
  }
  @include mobile {
    padding: 48px 16px;
    background: #1C5393 url("../images/specs/multilingual_mobile.jpg") center no-repeat;
  }

  &__wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }

  &__title.section__title {
    color: #fff;
    margin: 0;
    font-size: 48px;
    line-height: 64px;
    @include tablet {
      margin-right: 20px;
    }
    @include tablet_md {
      margin-right: 0;
    }
    @include mobile {
      font-size: 23px;
      line-height: 32px;
    }
  }

  &__title-wrapper {
    display: flex;
    max-width: 958px;
    margin-bottom: 88px;
    justify-content: space-between;
    @include tablet_md {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 16px;
    }
    @include mobile {
      margin-bottom: 48px;
    }
  }

  &__description {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #F8F8FA;
    max-width: 520px;

    & strong {
      font-weight: 400;
      @include mobile {
        font-weight: 900;
      }
    }

    @include tablet_md {
      max-width: 100%;
    }
    @include mobile {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__flags {
    display: flex;
    align-items: center;
    column-gap: 20px;
    @include tablet {
      flex-wrap: wrap;
      row-gap: 20px;
    }
    @include mobile {
      justify-content: center;
      gap: 16px;
    }
  }

  &__flag {
    width: 176px;
    height: 176px;
    border-radius: 999px;
    background: linear-gradient(107.74deg, rgba(255, 255, 255, 0.1) -1.24%, rgba(255, 255, 255, 0) 81.89%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 80px 90px rgba(17, 26, 43, 0.08), 0px 40px 30px rgba(0, 14, 26, 0.03), 0px 5px 7px rgba(0, 14, 26, 0.02);
    &--desktop {
      @include mobile {
        display: none;
      }
    }
    @include mobile {
      width: 156px;
      height: 156px;
      & img {
        width: 104px;
        height: 104px;
      }
    }
    &--more {
      font-family: 'Avenir', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 23px;
      line-height: 32px;
      text-align: center;
      color: #FFFFFF;
      text-transform: uppercase;
    }
  }
}