.scaling {
  background: url("../images/specs/scaling_bg.jpg") center/cover no-repeat;
  @include desktop_xl {
    padding: 130px 24px;
  }
  @include tablet {
    padding: 48px 24px;
  }
  @include tablet_md {
    padding: 48px 16px;
  }

  &__wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }

  &__title-wrapper {
    display: flex;
    margin-bottom: 80px;
    max-width: 958px;
    justify-content: space-between;
    @include tablet {
      flex-direction: column;
      margin-bottom: 32px;
    }
  }

  &__title.section__title {
    font-size: 48px;
    line-height: 64px;
    color: #111A2B;
    margin: 0 32px 0 0;
    max-width: 300px;
    text-align: left;
    @include tablet {
      max-width: 100%;
      margin: 0 0 24px 0;
    }
    @include mobile {
      font-size: 23px;
      line-height: 32px;
    }
  }

  &__description p {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #384350;
    max-width: 517px;
    @include tablet {
      max-width: 100%;
    }
    @include mobile {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__items {
    display: flex;
    width: 100%;
    column-gap: 32px;
    max-width: 1280px;
    @include tablet {
      flex-direction: column;
      align-items: center;
      row-gap: 16px;
    }
  }

  &__items-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    width: 100%;
    min-height: 408px;
    max-width: 188px;
    @include tablet {
      max-width: 100%;
      min-height: auto;
    }

    &.scaling__items-wrapper--horizontal {
      max-width: 400px;
      @include tablet {
        max-width: 100%;
      }
    }

    &.scaling__items-wrapper--link-center {
      position: relative;
      @include tablet {
        flex-direction: row;
        column-gap: 16px;

      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 244px;
        height: 24px;
        background: url("../images/specs/scaling_links_2.svg") center/cover;
        left: calc(50% - 3px);
        top: calc(50% - 5px);
        transform: translate(-50%, -50%);
        @include tablet {
          display: none;
        }
      }
    }

    &.scaling__items-wrapper--link-left {
      position: relative;
      @include tablet {
        flex-direction: row;
        column-gap: 16px;
      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 122px;
        height: 24px;
        background: url("../images/specs/scaling_links_1.svg") center/cover;
        left: calc(50% + 62px);
        top: calc(50% - 5px);
        transform: translate(-50%, -50%);
      }
    }

    &.scaling__items-wrapper--link-right {
      position: relative;
      @include tablet {
        flex-direction: row;
        column-gap: 16px;
        & .scaling__item.scaling__item--long.scaling__item--horizontal {
          max-height: 100%;

          & .scaling__imgs-wrapper {
            flex-direction: column;
            align-items: center;

            & .scaling__img-wrapper:nth-child(2) {
              &:after, &:before {
                left: 50%;
                width: 3px;
                height: 16px;
                border-left: 3px dashed #4363B0;
                border-top: none;
              }

              &:after {
                top: -2px;
              }

              &:before {
                top: 82px;
              }
            }
          }
        }
      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 228px;
        height: 24px;
        background: url("../images/specs/scaling_links_3.svg") center/cover;
        right: calc(50% - 110px);
        top: calc(50% - 5px);
        transform: translate(-50%, -50%);
        @include tablet {
          display: none;
        }
      }
    }
  }

  &__item {
    background: #F8F8FA;
    border: 3px solid #4363B0;
    -webkit-box-shadow: -8px -8px 0px 0px rgba(67, 99, 176, 1);
    -moz-box-shadow: -8px -8px 0px 0px rgba(67, 99, 176, 1);
    box-shadow: -8px -8px 0px 0px rgba(67, 99, 176, 1);
    border-radius: 48px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 188px;
    max-height: 188px;
    padding: 20px 0 50px 0;
    width: 100%;
    position: relative;
    z-index: 2;
    @include tablet {
      max-width: 100%;
      padding: 20px 20px 30px 20px;
    }

    &.scaling__item--long {
      max-height: 408px;
      height: 100%;
      justify-content: space-between;

      & .scaling__imgs-wrapper.first > div:nth-child(3) {
        &:after, &:before {
          display: none;
        }
      }

      & .scaling__imgs-wrapper.first {
        @include tablet {
          flex-direction: row;
          display: flex;
          column-gap: 24px;
        }
      }

      & .scaling__imgs-wrapper.first > div:nth-child(2) {
        position: relative;

        &:after,
        &:before {
          content: '';
          position: absolute;
          width: 0;
          height: 24px;
          left: 50%;
          transform: translateX(-50%);
          border-left: 3px dashed #4363B0;
          @include tablet {
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 0;
            border-top: 3px dashed #4363B0;
          }
        }

        &:after {
          @include tablet {
            left: -25px;
            top: 50%;
          }
          top: -14px;
        }

        &:before {
          bottom: -11px;
          @include tablet {
            left: 79px;
            top: 50%;
          }
        }
      }

      & .scaling__img-wrapper:nth-child(2) {
        position: relative;
      }

      & .scaling__img-wrapper:nth-child(3):after,
      .scaling__img-wrapper:nth-child(3):before {
        content: '';
        position: absolute;
        width: 0;
        height: 24px;
        left: 50%;
        transform: translateX(-50%);
        border-left: 3px dashed #4363B0;
      }

      & .scaling__img-wrapper:nth-child(3):after {
        top: -20px;
      }

      & .scaling__img-wrapper:nth-child(3):before {
        bottom: -20px;
      }

      @include tablet {
        flex-direction: column;
        position: relative;
        &:after, &:before {
          position: absolute;
          content: '';
          width: 24px;
          height: 24px;
          display: block;
        }
        &:after {
          left: 49%;
          bottom: -26px;
          background: url("../images/specs/sclaing_conector_mobile_bottom.png") center/contain no-repeat;
          @include mobile {
            left: 48%;
          }
          @include mobile_sm {
            left: 47%;
          }
        }
        &:before {
          left: 47.5%;
          top: -33px;
          background: url("../images/specs/scaling_conector_mobile_top.png") center/contain no-repeat;
          @include tablet_md {
            left: 46.5%;
          }
          @include mobile {
            left: 45.3%;
          }
          @include mobile_md {
            left: 44.3%;
          }
          @include mobile_sm {
            left: 43.3%;
          }
        }
      }
    }

    &.scaling__item--horizontal {
      max-width: 400px;
      width: 100%;
      max-height: 188px;
      padding-left: 56px;
      padding-right: 56px;
      @include tablet {
        max-width: 100%;
        &:after, &:before {
          display: none;
        }
      }
      @include mobile {
        padding: 20px 0 24px 0;
      }

      & .scaling__img-wrapper:nth-child(3):after,
      .scaling__img-wrapper:nth-child(3):before {
        display: none;
      }

      & div > .scaling__img-wrapper:nth-child(2) {
        position: relative;
      }

      & div > .scaling__img-wrapper:nth-child(2):after,
      div > .scaling__img-wrapper:nth-child(2):before {
        content: '';
        position: absolute;
        width: 24px;
        height: 3px;
        top: 50%;
        transform: translateY(-50%);
        border-top: 3px dashed #4363B0;
        z-index: 11;
      }

      & div > .scaling__img-wrapper:nth-child(2):after {
        left: -20px;
      }

      & div > .scaling__img-wrapper:nth-child(2):before {
        right: -20px;
      }

      & .scaling__imgs-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include tablet {
          justify-content: center;
          column-gap: 16px;
        }
      }
    }

    &.scaling__item--one {
      height: 100%;

      & .scaling__img-wrapper {
        flex-grow: 1;
        display: flex;
      }
    }


    &-title {
      font-family: 'Avenir', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #242D3B;
      margin-bottom: 18px;
      @include tablet {
        margin-bottom: 0;
        max-width: 120px;
      }
    }
  }
}

