.service {
  background:
          #F8F8FA
          url("../images/arch/service_bg.png") 100% 50% no-repeat;
  background-size: contain !important;
  @include desktop_xl {
    padding: 130px 24px;
  }
  @include desktop_lg {
    background-position: 130% 50%;
  }
  @include tablet {
    background-size: cover !important;
    padding: 80px 24px;
    background-position: center center;
  }
  @include tablet_md {
    padding: 50px 16px;
  }
  @include tablet_sm {
    background-size: 150% !important;
  }
  &__wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }

  &__title.section__title {
    margin: 0 0 16px 0;
    text-align: left;
    max-width: 583px;
    font-size: 48px;
    line-height: 64px;
    @include tablet {
      color: #FFF;
    }
    @include tablet_sm {
      font-size: 23px;
      line-height: 32px;
      margin-bottom: 24px;
    }
  }
  &__title-wrapper {
    max-width: 628px;
    margin-bottom: 88px;
    @include desktop_lg {
      max-width: 408px;
    }
    @include tablet {
      max-width: 100%;
    }
    @include tablet_md {
      margin-bottom: 48px;
    }
  }
  &__description {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #384350;
    @include tablet {
      color: #F8F8FA;
    }
    @include tablet_sm {
      font-size: 15px;
      line-height: 24px;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    @include desktop_xl {
      max-width: 958px;
    }
    @include tablet_sm {
      row-gap: 24px ;
    }

  }
  &__item {
    padding: 56px 64px;
    background: linear-gradient(152.16deg, #FFFFFF 8.22%, #F8F9FD 109.54%);
    border: 0.5px solid #F8F8FA;
    box-shadow: 0px 80px 100px rgba(17, 26, 43, 0.03), 0px 40px 30px rgba(17, 26, 43, 0.02), 0px 5px 2px rgba(17, 26, 43, 0.01);
    border-radius: 40px;
    &:first-child {
      background: url("../images/specs/security_item_1.jpg") center/cover no-repeat;
    }
    &:nth-child(3) {
      background: url("../images/specs/security_item_2.jpg") center/cover no-repeat;
    }
    @include tablet_sm {
     padding: 40px 32px;
      border-radius: 24px;
    }
    &-title {
      font-family: 'Avenir', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 33px;
      line-height: 46px;
      color: #111A2B;
      margin-bottom: 24px;
      @include tablet_sm{
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 16px;
      }

    }
    & p {
      font-family: 'Avenir', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: #242D3B;
      max-width: 782px;
    }
    & p:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}