/*
General styles
*/

@import "helpers/fonts";
@import "helpers/normalize";
@import 'helpers/media_mixins';
@import "helpers/vars_and_mixins";
@import "../../node_modules/swiper/swiper";
@import "form-elements";
@import "cards";
@import "header";

/*
Homepage
*/
@import "hero";
@import "processes";
@import "capabilities";
@import "management";
@import "solutions";
@import "benefits";
@import "testimonials";
@import "technologies";
@import "faq";
@import "subscribe-form";
@import "contact-us";

/*
Specifications styles
*/
@import "architecture";
@import "tech";
@import "multilingual";
@import "integrations";
@import "licensing";

/*
Architecture styles

*/
@import "scaling";
@import "security";
@import "scontrol";
@import "service";
@import "system";
@import "geocms";
@import "collection";
@import "unity-base";
@import "options";

/*
Technologies styles
*/
@import "why";
@import "infrastructure";
@import "deployment";
@import "footer";
@import "popup";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

p {
  font-size: 15px;
  line-height: 24px;
  font-family: Avenir, sans-serif;
  font-weight: 400;
}

.btn.btn--primary {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-family: Avenir, sans-serif;
  font-weight: 700;
  padding: 8px 24px;
  border-radius: 999px;
  color: #fff;
  text-decoration: none;
  border: none;
  background: linear-gradient(135deg, #9124B8, #2782D3, #1BDAC3);
  box-shadow: 0px 20px 15px rgba(56, 159, 203, 0.05), 0px 6px 7px rgba(56, 159, 203, 0.06), 0px 0.5px 1px rgba(56, 159, 203, 0.3);

  &:hover {
    background: #111A2B;
  }

  &:active {
    background: #384350;
  }
}

.btn-secondary__wrapper {
  padding: 2px;
  background-image: linear-gradient(125.55deg, #9124B8 1.14%, #2782D3 50.97%, #1BDAC3 114.58%);
  display: none;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @include tablet {
    display: flex;
  }
}

.btn.btn--secondary {
  font-size: 16px;
  line-height: 24px;
  font-family: Avenir, sans-serif;
  font-weight: 700;
  padding: 12px 32px;
  border-radius: 999px;
  color: #fff;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 0px 80px 90px rgba(17, 26, 43, 0.08), 0px 40px 30px rgba(0, 14, 26, 0.03), 0px 5px 7px rgba(0, 14, 26, 0.02);
  transition: all .3s linear;

  &.btn--mobile {
    display: none;
    @include tablet {
      display: block;
      padding: 12px;
      width: 100%;
      max-width: 360px;
      text-align: center;
    }
  }

  &:hover {
    background: #F8F8FA;
    box-shadow: 0px 12px 40px rgba(17, 26, 43, 0.02), 0px 0.5px 2px rgba(17, 26, 43, 0.08);
  }

  &:active {
    background: #EBEFF1;
    box-shadow: 0px 12px 40px rgba(17, 26, 43, 0.02), 0px 0.5px 2px rgba(17, 26, 43, 0.08);
  }


  & > span {
    background: linear-gradient(133.76deg, #3619AB -7.9%, #2272BB 42.86%, #00814B 96.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.section__subtitle {
  font-size: 14px;
  line-height: 20px;
  color: #D5DCE2;
  text-transform: uppercase;
  letter-spacing: 0.64px;
  font-family: Avenir, sans-serif;
  font-weight: 800;
  text-align: center;
}

.section__subtitle.section__subtitle--gradient {
  background: linear-gradient(133.76deg, #3619AB -7.9%, #2272BB 42.86%, #00814B 96.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.section__title {
  font-size: 36px;
  line-height: 48px;
  color: #111A2B;
  margin: 20px 0;
  font-family: Avenir, sans-serif;
  font-weight: 800;
  text-align: center;
  @include tablet_md {
    font-size: 32px;
    line-height: 42px;
  }
  @include mobile {
    font-size: 23px;
    line-height: 32px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
}

.section__title.section__title--white {
  color: #FFFFFF;
}

.section__description {
  font-size: 20px;
  line-height: 32px;
  color: #242D3B;
  font-weight: 400;
  font-family: Avenir, sans-serif;
  text-align: center;
  max-width: 865px;
  margin: 0 auto;
  @include tablet_md {
    font-size: 18px;
    line-height: 24px;
  }
  @include mobile {
    font-size: 15px;
  }

}


.section__description.section__description--white {
  color: #F8F8FA;
}

section {
  padding: 130px 0;
  background-size: cover !important;
  @include desktop {
    padding: 130px 24px;
  }
  @include tablet {
    padding: 50px 24px;
  }
  @include mobile {
    padding: 50px 16px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 31, 43, 0.6);
  z-index: -1;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    z-index: 1;
    visibility: visible;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wpcf7 form.sent .wpcf7-response-output {
  position: absolute;
  color: #F8F8FA;
  font-family: Avenir;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-top: 10px;
}

.wpcf7-form.contact-us__form.sent .wpcf7-response-output {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #111A2B;
}

.wpcf7-not-valid-tip,
.wpcf7-response-output {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 12px;
  line-height: 24px;
  font-family: Avenir, sans-serif;
  font-weight: 400;
  color: #E32D14;
}

.subscribe-form__input + .wpcf7-not-valid-tip {
  position: absolute;
  margin-top: 5px !important;
  left: 50%;
  transform: translateX(-50%);
}

.subscribe-form__label + .wpcf7-response-output {
  position: absolute;
  margin-top: 25px !important;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.subscribe-form__form.invalid .wpcf7-response-output {
  text-align: center;
  margin-top: 25px !important;
  line-height: 100% !important;
}

.read-more__btn {
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #111A2B;
  text-decoration: none;
  border: 1.5px solid #111A2B;
  border-radius: 999px;
  padding: 8px 48px 8px 24px;
  position: relative;

  &.read-more__btn--apache {
    &:after {
      background: url("../images/external_link.svg") center no-repeat;
      width: 20px;
      height: 20px;
    }
  }

  &:after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: block;
    width: 11px;
    height: 11px;
    background: url("../images/read_more_arrow.svg") center no-repeat;
  }
}

.page__nav {
  flex-shrink: 1;
  width: fit-content;
  margin-left: auto;
  @include tablet {
    display: none;
  }

  &-title {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    color: #111A2B;
    margin-bottom: 12px;
  }

  &-list {
    list-style: none;

    &-item:not(:last-child) {
      margin-bottom: 10px;
    }

    &-item {
      &:first-child {
        background: linear-gradient(133.76deg, #3619AB -7.9%, #2272BB 42.86%, #00814B 96.8%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }

    &-link {
      text-decoration: none;
      font-family: 'Avenir', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 14px;
      line-height: 22px;
      color: #5F6972;
    }
  }
}


.show-more__btn {
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  text-decoration: none;
  margin-top: 24px;
  display: none;
  & span {
    background: linear-gradient(133.76deg, #3619AB -7.9%, #2272BB 42.86%, #00814B 96.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  @include tablet_md {
    display: block;
  }
}


.show-more__btn .icon {
  display: inline-block;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  position: relative;
}

.show-more__btn .icon::before,
.show-more__btn .icon::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: currentColor;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.show-more__btn .icon::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.show-more__btn.open .icon::after {
  display: none;
}


.specifications + .footer {
  background-color: #4363B0;
  padding-top: 20px;
  @include mobile {
    padding-top: 10px;
  }
}

.gradient__btn {
  text-decoration: none;
  border-radius: 999px;
  padding: 8px 24px;
  border: double 2px transparent;
  outline: none;
  background-image: linear-gradient(#F7F7F9, #F7F7F9), linear-gradient(135deg, #9124B8, #2782D3, #1BDAC3);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  & span {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    background: linear-gradient(133.76deg, #3619AB -7.9%, #2272BB 42.86%, #00814B 96.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.btn__top {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 32px;
  bottom: 32px;
  background-color: rgba(17, 31, 43, 0.6);
  box-shadow: 0px 80px 90px rgba(17, 26, 43, 0.08), 0px 40px 30px rgba(0, 14, 26, 0.03), 0px 5px 7px rgba(0, 14, 26, 0.02);
  border-radius: 999px;
  z-index: -9;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s linear;
  @include mobile {
    right: 24px;
    bottom: 24px;
  }
  &.active {
    z-index: 2;
    opacity: 1;
    visibility: visible;
  }
}

.breadcrumps {
  padding-top: 50px;
  background-color: #FAFAFC;

  &__container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    column-gap: 16px;
    align-items: center;
    @include desktop_xl {
      padding: 0 24px;
    }
    @include tablet_md {
      padding: 0 16px;
    }
    @include mobile {
      column-gap: 8px;
    }
  }
  &__item {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    color: #5F6972;
    text-decoration: none;
    &:not(:last-child):hover {
      text-decoration: underline;
    }
    &:last-child {
      color: #242D3B;
    }
  }
}