.technologies {
  position: relative;
  @include desktop {
    padding: 130px 0;
  }
  @include tablet {
    padding: 50px 0;
  }

  &__wrapper {
    margin: 0 auto;
    overflow: hidden;
  }

  &__items {
    margin-top: 80px;
    @include tablet_md {
      margin-top: 48px;
    }
    .marquee {
      img {
        margin-right: 36px;
        border-radius: 40px;
        @include tablet_md {
          margin-right: 0px;
          transform: scale(.85);
        }
      }

      &-desc {
        @include tablet_md {
          display: none;
        }
      }
      &-mob {
        @include tablet_md-min {
          display: none;
        }
      }
    }
  }

}
