.technologies {
  position: relative;
  @include desktop {
    padding: 130px 0;
  }
  @include tablet {
    padding: 50px 0;
  }

  &__wrapper {
    margin: 0 auto;
    overflow: hidden;

    .section__title {
      margin-bottom: 88px;
      @include tablet {
        margin-bottom: 48px;
      }
    }
  }
}

.technologies-slider {
  overflow: hidden;

  &__wrap {
    display: flex;

    &--desc {
      display: none;
      @media screen and (min-width: 768px) {
        display: flex;
        width: 400%;
        animation: scroll 15s infinite linear;
      }
    }
    &--mob {
      display: flex;
      width: 700%;
      animation: scroll 20s infinite linear;
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  &__item {
    display: flex;
    width: 100%;
    justify-content: space-around;
    img {
      transform: scale(.85);
      border-radius: 40px;
      @media screen and (min-width: 1500px){
        transform: none;
      }
    }
  }
}





.technologies-swiper {
  @include mobile {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  &-wrapper {
    margin-bottom: 24px;
    @include mobile {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto; // here is the amount of slidesPerColumn you want
      grid-auto-flow: column;
      row-gap: 24px;

    }
  }
  &-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
  }
  &-pagination {
    display: flex;
    justify-content: center;
    color: #5F6972;
    font-family: Avenir, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;

  }
  &-button-next {
    width: 48px;
    height: 48px;
    box-shadow: 0px 80px 90px rgba(17, 26, 43, 0.08), 0px 40px 30px rgba(0, 14, 26, 0.03), 0px 5px 7px rgba(0, 14, 26, 0.02);
    border-radius: 999px;
    cursor: pointer;
    background: url("../images/swiper-next.svg") center center no-repeat, #fff;
  }
  &-button-prev {
    width: 48px;
    height: 48px;
    box-shadow: 0px 80px 90px rgba(17, 26, 43, 0.08), 0px 40px 30px rgba(0, 14, 26, 0.03), 0px 5px 7px rgba(0, 14, 26, 0.02);
    border-radius: 999px;
    cursor: pointer;
    background: url("../images/swiper-prev.svg") no-repeat center center, #fff;
  }
  &__swiper-slide {
    display: flex;
    justify-content: center;
    @include mobile {

      align-self: center;
      justify-content: center;
    }
    & > img {
      border-radius: 40px;
      @include mobile {

      }
    }
  }

}

@media (min-width: 567px) {
  .technologies-swiper__swiper-slide {
    width: fit-content!important;
  }

}