.tech {
  background-size: contain !important;
  background: linear-gradient(90.42deg, #FFFFFF -0.73%, rgba(255, 255, 255, 0) 49.68%), url("../images/specs/tech_bg.jpg") 100% 50% no-repeat;
  padding: 64px 0;
  position: relative;
  z-index: -1;
  @include desktop_xm {
    padding-left: 24px;
  }
  @include tablet {
    background: #fff;
    padding: 48px 0 0 0;
  }
  @include mobile {
    padding: 0;
  }

  &__wrapper {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    @include desktop {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      row-gap: 24px;
    }
  }

  &__title.section__title {
    margin: 0;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 24px;
    text-align: left;
    @include desktop {
      font-size: 38px;
      line-height: 42px;
    }
    @include tablet {
      margin-bottom: 0;
    }
    @include mobile {
      font-size: 23px;
      line-height: 32px;
    }
  }

  &__title-description {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #384350;
    margin-bottom: 24px;
   @include tablet {
     order: 3;
     margin-bottom: 0;
   }
    @include mobile {
      font-size: 15px;
      line-height: 24px;
    }

  }

  &__title-wrapper {
    max-width: 407px;
    width: 100%;
    margin-top: 64px;
    margin-right: 32px;
    @include desktop_lg {
      max-width: 300px;
    }
    @include desktop_xl {
      margin-right: 12px;
    }
    @include desktop {
      margin-top: 0;
      max-width: 407px;
    }
    @include tablet {
      display: flex;
      max-width: 100%;
      width: 100%;
      flex-wrap: wrap;
      margin-top: 0;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      padding: 0 16px;
      row-gap: 16px;
      margin-bottom: 0;
    }
  }

  &__content {
    max-width: 518px;
    width: 100%;
    padding: 64px 64px 64px 0;
    align-self: center;
    background-color: #fff;
    position: relative;
    border-radius: 0px 24px 24px 0px;
   &:after {
     position: absolute;
     content: '';
     width: 50%;
     top: 0;
     right: 0;
     height: 100%;
     box-shadow: 0px 80px 90px rgba(17, 26, 43, 0.08), 0px 40px 30px rgba(0, 14, 26, 0.03), 0px 5px 7px rgba(0, 14, 26, 0.02);
     border-radius: 0px 24px 24px 0px;
     z-index: -1;
   }
    @include desktop_xl {
      padding: 32px 32px 32px 0;
    }
    @include desktop {
      align-self: flex-start;
    }
    @include tablet {
      order: 3;
      box-shadow: none;
      max-width: 100%;
      padding: 0 16px;
      margin-bottom: 48px;
      &:after {
        display: none;
      }
    }

    & p:not(:last-child) {
      margin-bottom: 24px;
    }

    & p {
      font-family: 'Avenir', sans-serif;
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
      color: #242D3B;
      @include desktop {
        font-size: 15px;
      }
      @include mobile {
        font-size: 16px;
      }
    }
  }

  &__img-wrapper {
    @include tablet {
      width: 100%;
      height: auto;
    }
    & > img {
      display: none;
      @include tablet {
        display: block;
        width: 100%;
        height: 100%;
        max-height: 300px;
        max-width: 70%;
        margin: 0 auto;
      }
      @include tablet_sm {
        max-width: 100%;
      }
    }
  }
}